#productTemplate-4{
	position: relative;
	font-family: 'Lato', sans-serif;
	min-height: 500px;
	height: auto;
	background: #E1E3E4;
	padding-top: 50px;
	overflow: hidden;
	
	.boxmaster{
		padding-top: 50px;
		margin: 0 auto;
		width: 100%;

		.boxwrap{
			float: left;
			margin-left: 2.3%;
			width: 17%;
			height: auto;
			border:1px solid #dadada;
			background: #fff;
			margin-bottom: 2%;

			.box{
				width: 95%;
				background: #fff;
				margin:0 auto;

				.imagewrap{
					width: 100%;
					img{
						width: 96%;
						margin:0 auto;
						margin-top: 5%;
					}
				}
				.textwrap{
					width: 95%;
					margin: 0 auto;

					h3{
						font-size: 12px;
						color:#000;
						text-align: center;
						margin-top: 20px;
						font-weight: 900;
						text-transform: uppercase;
						&:hover{
							color:#1BC275;
						}
					}

					p{
						font-size: 12px;
						margin-top: 15px;
						color:#8E8E8E;
						padding-bottom: 15px;
						line-height: 1.5;
						text-align: center;
						padding-bottom: 20px;
					}

					ul{
						margin-top: 15px;
						padding-top: 15px;
						padding-bottom: 25px;
						border-top: 1px solid #e6e6e6;
						font-size: 10px;
						text-transform: uppercase;
						li{
							color: #999999;
							font-size: 10px;
							text-align: center;
							display: inline;
							margin-right: 5px;
							color: #999;
							text-transform: uppercase;

							a{
								color:#999999;
								display: inline;

								svg{
									width: 20px;
								}
								.speech{
									fill:#999999;
								}
								.heart{
									fill:#999999;
								}
								.calendar{
									fill:#999999;
								}
							
								&:hover{
									color:#1BC275;
									
									.speech{
										fill:currentColor;
									}
									.heart{
										fill:currentColor;
									}
									.calendar{
										fill:currentColor;
									}
								}
							}
							img{
								width: 20px;
								display: inline;
								position: relative;
								top: 1px;
							}
						}

						li:last-child{
							margin-right: 0;
						}
					}
				}
			}
		}
	}	
}



@media screen and (max-width: 1650px) {
#productTemplate-4 .boxmaster .boxwrap{
			margin-left: 2.3%;
			width: 22%;
		}
}

@media screen and (max-width: 1360px) {
#productTemplate-4 .boxmaster .boxwrap{
			margin-left: 2.3%;
			width: 30%;
		}
}

@media screen and (max-width: 1020px) {
#productTemplate-4 .boxmaster .boxwrap{
			margin-left: 2.3%;
			width: 47%;
		}
}

@media screen and (max-width: 650px) {
#productTemplate-4 .boxmaster .boxwrap{
			margin-left: 1%;
			width: 97%;
			margin-bottom: 5%;
		}
#productTemplate-4 .boxmaster .boxwrap .box .textwrap ul li{
	margin-right: 5px;
}
}