#productTemplate-3{
	position: relative;
	font-family: 'Lato', sans-serif;
	min-height: 700px;
	height: auto;
	background: #E1E3E4;
	padding-top: 50px;
	overflow: hidden;
	
	.boxmaster{
		padding-top: 50px;
		margin: 0 auto;
		width: 95%;

		.boxwrap{
			float: left;
			width: 25%;
			height: auto;
			background: #fff;

			&:hover .box .textwrap{
			-webkit-transform: translate3d(0px, -148px, 0);
			-moz-transform: translate3d(0px, -148px, 0);
			transform: translate3d(0px, 0px, -148);
			}

			&:hover .box .imagewrap img.horizon{
			-webkit-transform: translate3d(0px, -130%, 0);
			-moz-transform: translate3d(0px, -130%, 0);
			transform: translate3d(0px, 0px, -130%);
			}

			&:hover .box .imagewrap img.vertical{
			-webkit-transform: translate3d(0px, -100%, 0);
			-moz-transform: translate3d(0px, -100%, 0);
			transform: translate3d(0px, 0px, -100%);
			}

			.box{
				width: 100%;
				height: 450px;
				background: #fff;
				margin:0 auto;
				overflow: hidden;

				.imagewrap{
					width: 100%;
					height: 100%;

					img.vertical{
						height: 100%;
						margin:0 auto;
						-webkit-transform: translate3d(0px, 0%, 0);
						-moz-transform: translate3d(0px, 0%, 0);
						transform: translate3d(0px, 0%, 0);
						-webkit-transition: -webkit-transform 400ms ease-in-out;
						-moz-transition: -moz-transform 400ms ease-in-out;
						-o-transition: -o-transform 400ms ease-in-out;
						transition: transform 400ms ease-in-out;
					}

					img.horizon{
						height: 100%;
						margin:0 auto;
						-webkit-transform: translate3d(0px, 0%, 0);
						-moz-transform: translate3d(0px, 0%, 0);
						transform: translate3d(0px, 0%, 0);
						-webkit-transition: -webkit-transform 400ms ease-in-out;
						-moz-transition: -moz-transform 400ms ease-in-out;
						-o-transition: -o-transform 400ms ease-in-out;
						transition: transform 400ms ease-in-out;
					}
				}
				.textwrap{
					width: 100%;
					margin: 0 auto;
					text-align: center;
					padding-top: 30px;
					background: #fff;
					position: relative;
					-webkit-transform: translate3d(0px, 0px, 0);
					-moz-transform: translate3d(0px, 0px, 0);
					transform: translate3d(0px, 0px, 0);
					-webkit-transition: -webkit-transform 400ms ease-in-out;
					-moz-transition: -moz-transform 400ms ease-in-out;
					-o-transition: -o-transform 400ms ease-in-out;
					transition: transform 400ms ease-in-out;

					h3{
						font-size: 15px;
						color:#000;
						font-weight: 900;
						text-transform: uppercase;
					}

					h4{
						font-size: 15px;
						color:#000;
						margin-top: 10px;
						letter-spacing: 1px;
						font-weight: 300;
						text-transform: uppercase;
					}

					span.smallborder{
						height: 1px;
						background: #5E5E5E;
						width: 100px;
						margin:0 auto;
						margin-top: 20px;
					}

					p{
						color:#616161;
						font-size: 12px;
						margin-top: 10px;
						font-style: italic;
						font-family: georgia;
						padding-bottom: 35px;
					}
				}
			}
		}
	}	
}



@media screen and (max-width: 1450px) {
#productTemplate-3 .boxmaster .boxwrap{
			width: 33.333%;
		}
}

@media screen and (max-width: 1000px) {
#productTemplate-3 .boxmaster .boxwrap{
			width: 50%;
		}
}

@media screen and (max-width: 550px) {
#productTemplate-3 .boxmaster .boxwrap{
			width: 100%;
		}
}